.idea-wrapper
  =render "header"
  .idea-wrapper__logo
    IDEA INFORMATION
  .idea-wrapper__info
    .idea-wrapper__info--title
      title: 
      = @idea.title
    .idea-wrapper__info--name
      name: 
      = @idea.user.name
    .idea-like
      Like: 
      %h3
        =@idea.likes.count
      -if current_user.already_liked?(@idea)
        =link_to idea_like_path(@idea.id), method: :delete do
          =icon("fas", "heart")
      -else
        =link_to idea_likes_path(@idea.id) ,method: :post do
          =icon("far", "heart")
    -# .idea-wrapper__info--price
    -#   price:$
    -#   = @idea.price
  .idea-wrapper__box
    .idea-wrapper__box__content
      =@idea.info
  .idea--btn


    -# %h2 いいねしたユーザ
    -# -@idea.liked_users.each do |user|
    -#   %li
    -#     =user.name
    -# %end

