.idea-wrapper
  =render "header"
  .idea-wrapper__logo
    IDEA INFORMATION
  .idea-wrapper__info
    .idea-wrapper__info--title
      title: 
      = @idea.title
    .idea-wrapper__info--name
      name: 
      = @idea.user.name
    .idea-like
      Like: 
      %h3
        =@idea.likes.count
      -if current_user.already_liked?(@idea)
        =link_to idea_like_path(@idea.id), method: :delete do
          =icon("fas", "heart")
      -else
        =link_to idea_likes_path(@idea.id) ,method: :post do
          =icon("far", "heart")
    -# .idea-wrapper__info--price
    -#   price:$
    -#   = @idea.price
  .idea-wrapper__box
    .idea-wrapper__box__content
      =@idea.info
  .idea-container
    %h2 Comments
    =form_with model: [@idea, @comment], local: true do |form|
      .idea-container-form
        =form.text_area :text, placeholder: "exchange your ideas!!", rows: "2"
        =form.submit "SEND", class:"comment-form-btn"
    .comments
      %h4 Comments Index
      -if @comments
        -@comments.each do |comment|
          %p
            %strong
              =link_to comment.user.name, "/users/#{comment.user_id}"
            = comment.text
      -else
        %p comment nothing
