.idea-wrapper
  =render "header"
  .idea-wrapper__info
    .idea-wrapper__info--title
      title: 
      = @idea.title
    .idea-wrapper__info--name
      name: 
      = @idea.user.name
    .idea-wrapper__info--price
      price:$
      = @idea.price
  .idea-wrapper__box
    .idea-wrapper__box__content
      =@idea.info
  .idea--btn
