.user_index
  =render "ideas/header"
  .header-search
    Search
  .user
    .user-logo
      Idea Makers
    -# ideaのブロックでひとかたまりのアイデア
    .user__belt
      -@users.each do |user| 
        %a(href="/users/#{user.id}" class="user__belt--info")
          %img(src="#{user.image}" class="icon_image")/
          = user.name
    .new-user-logo
      Ranking
      .new-user-index
        -@all_ranks.each do |user|
          =user.name