.user_index
  =render "ideas/header"
  .header-search
    検索
  .user
    .user-logo
      Idea Makers
    -# ideaのブロックでひとかたまりのアイデア
    .user__belt
      -@users.each do |user| 
        -# この部分にユーザのアイコン写真を取り入れれるように実装する
        %a(href="/users/#{user.id}" class="user__belt--name")
          = user.name
