.user-show
  =render "ideas/header"
  .user-idea__index
    -@ideas.each do |idea|
      = idea.title
    %end
  %h3 いいねしている投稿
  -@user.liked_ideas.each do |idea|
   =idea.user.email
   =idea.content
  %end

  