.user-show
  =render "ideas/header"
  .user-idea
    %h3.user-idea__index Your Special Ideas!
    %ul
      -@ideas.each do |idea|
        %li
          %a(href="/ideas/#{idea.id}" class="user-idea__index--each")
            = idea.title
      %end
    %h3.user-idea__likes Ideas You Like!
    %ul
      -@user.liked_ideas.each do |idea|
        %li
          %a(href="/ideas/#{idea.id}" class="user-idea__like--each")
            =idea.title