$font-color: white;
$site-color: rgb(41, 130, 160);
$body-color: black;

.idea-wrapper{
  height: 100vh;
  width: 100vw;
  font-family: serif;
  background-image: url(https://images.unsplash.com/photo-1519852476561-ec618b0183ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1938&q=80);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
  overflow: scroll;
  &__logo{
    color: $font-color;
    -webkit-text-stroke: 1px $site-color;
    font-size: calc(18px + 2vw);
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  &__info{
    color: $body-color;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--title{
      margin-bottom: 20px;
    }
    &--name{
      margin-bottom: 20px;
    }
    &--price{
      margin-right: 20px;
    }
  }
  &__box{
    height: 70%;
    width: 50%;
    background-color: rgba(41, 130, 160, 0.1);
    border: 1px solid $site-color;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    &__content{
      color: $body-color;
      font-size: 20px;
    }
  }
}

.idea-like{
  text-align: center;
  display: flex;
  margin: 0 auto;
  h3{
    margin-left: 10px;
  }
  a{
    margin-left: 10px;
    i{
      color: pink;
    }
  }
}

.idea-container{
  width: 100vw;
  margin-top: 100px;
  font-family: fantasy;
  h2{
    margin-bottom: 50px;
  }
  form{
    padding-bottom: 10px;
  }
  textarea{
    width: 45%;
    font-family: serif;
    border: 1px solid $site-color;
    border-radius: 15px;
    padding: 10px;
    outline: none;
  }
}

.idea-container-form{
  display: flex;
  justify-content: center;
}

.comment-form-btn{
  font-size: 25px;
  color: $font-color;
  -webkit-text-stroke:1px $site-color;
  background-color: rgba(0, 0, 0, 0);
  padding:15px;
  margin-left: 20px;
  border: none;
  outline: none;
  &:hover{
    background-color: rgba(41, 130, 160, 0.3);
  }
}

.comments{
  
  text-align: center;
  h4{
    color: $font-color;
    -webkit-text-stroke:0.5px $site-color;
    font-size: 20px;
    margin-top:50px;
  }
  a{
    color: $font-color;
    -webkit-text-stroke: 0.3px $site-color;
    text-decoration: none;
  }
}