$font-color:white;
$site-color: rgb(41, 130, 160);

.user-show{
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  overflow: scroll;
  font-family: serif;
  background-image: url(https://images.unsplash.com/photo-1519852476561-ec618b0183ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1938&q=80);
  background-size: cover;
}

.user-idea{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  ul{
    margin: 0 auto;
  }
  li{
    margin-top: 20px;
  }
  a{
    color: black;
    text-decoration: none;
  }
  &__index{
    height: 30%;
    width: 100%;
    color: $font-color;
    -webkit-text-stroke: 1px $site-color;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
  }
  &__likes{
    height: 30%;
    width: 100%;
    color: $font-color;
    -webkit-text-stroke: 1px $site-color;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
  }
}
