.user-show{
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
}

.user-idea__index{
  height: 300px;
  color: white;
}